.room-members {
  overflow-x: auto;
  white-space: nowrap;
}
.room-members > .col {
  display: inline-block;
  float: none;
}

.scrollable {
  overflow-y: auto;
}

.overlay-container {
  position: relative;
}

.overlay-item {
  position: absolute;
  top: 90%;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

.img-overlay:before {
  content: " ";
  display: block;
  /* adjust 'height' to position overlay content vertically */
  height: 50%;
}
