<div class="row border h-75 no-gutters">
    <div class="col-9 bg-light border h-100 d-flex justify-content-center overlay-container" >

        <video class="border border-danger w-100 h-100" #myVideo>
        </video>
        
        <div class="justify-content-center overlay-item">
            <input type="button" value="Video" class="btn btn-sm btn-primary">
            <input type="button" value="Audio" class="btn btn-sm btn-primary ml-1">
            <input type="button" value="Screen Share" class="btn btn-sm btn-primary ml-1">
            <input type="button" value="File Transfer" class="btn btn-sm btn-primary ml-1">
        </div>
    </div>

    <div class="col-3 bg-light border scrollable h-100">
        <P > <b><i>Room Name </i></b>Hi</P>
    </div>
</div>

<div class="row flex-nowrap room-members">
    <div class="col" *ngFor="let mitronPeer of mitronPeers">
        <video [id]="mitronPeer?.peerId" class="h-100 border border-danger" #peerVideo></video>
    </div>
</div>