.btm {
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

  .cnt {
    position: absolute;
    top: 50%;
    left: 30%;
  }